<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/quizudo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".express.questionset.GeneratorQuestionSetActivity"/>
        <activity android:name=".express.generatorsdetail.GeneratorDetailActivity" />
        <activity android:name=".express.generators.GeneratorsActivity" /> <!-- android:theme="@style/AppTheme"> -->
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".quiz.QuizActivity"
            android:label="@string/title_quiz_activity"
            android:parentActivityName=".configure.ConfigureQuizActivity" />
        <activity
            android:name=".results.QuizResultsActivity"
            android:label="@string/title_quiz_results_activity"
            android:parentActivityName=".configure.ConfigureQuizActivity" />
        <activity
            android:name=".configure.CreateQuizActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/title_create_quiz_activity"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".configure.ConfigureQuizActivity"
            android:label="@string/title_configure_quiz_activity"
            android:parentActivityName=".configure.CreateQuizActivity" />
        <!--
      windowSoftInputMode: so buttons don't get pushed up by the soft keyboard.
            android:windowSoftInputMode="stateUnchanged|adjustResize"  -->
        <activity
            android:name=".options.RemoveQuestionPacksActivity"
            android:label="@string/title_remove_question_packs_activity"
            android:parentActivityName=".options.PreferencesActivity" />
        <activity android:name=".options.PreferencesActivity" />
        <activity
            android:name=".quiz.AnswerDialogActivity"
            android:theme="@style/dialogTheme" />
        <activity
            android:name=".main.AboutAppActivity"
            android:theme="@style/dialogTheme" />
        <activity
            android:name=".creator.QuizWriterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:parentActivityName=".options.PreferencesActivity" />
        <activity
            android:name=".answerPool.AnswerPoolActivity"
            android:parentActivityName=".options.PreferencesActivity" />
        <activity
            android:name=".answerPool.AnswerListActivity"
            android:parentActivityName=".answerPool.AnswerPoolActivity"/>

        <activity
            android:name=".download.DownloadQuestionsActivity"
            android:parentActivityName=".options.PreferencesActivity" />
    </application>

</manifest>