<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacsstuff.quizudo">

    <!--
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- android:theme="@android:style/Theme.Dialog" ></activity> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/quizudo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- android:theme="@style/AppTheme"> -->
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".quiz.QuizActivity"
            android:label="@string/title_quiz_activity"
            android:parentActivityName=".configure.ConfigureQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".results.QuizResultsActivity"
            android:label="@string/title_quiz_results_activity"
            android:parentActivityName=".configure.ConfigureQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".configure.CreateQuizActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/title_create_quiz_activity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"


            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"

             />
        -->
        <activity
            android:name=".configure.ConfigureQuizActivity"
            android:label="@string/title_configure_quiz_activity"
            android:parentActivityName=".configure.CreateQuizActivity"
            android:screenOrientation="portrait" />
        <!--
      windowSoftInputMode: so buttons don't get pushed up by the soft keyboard.
            android:windowSoftInputMode="stateUnchanged|adjustResize"
        -->

        <activity
            android:name=".options.RemoveQuestionPacksActivity"
            android:label="@string/title_remove_question_packs_activity"
            android:parentActivityName=".options.PreferencesActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".options.PreferencesActivity" />
        <activity
            android:name=".quiz.AnswerDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialogTheme" />
        <activity
            android:name=".options.DialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialogTheme" />
        <activity
            android:name=".main.AboutAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialogTheme" />
        <activity
            android:name=".creator.QuizWriterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:parentActivityName=".options.PreferencesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".answerPool.AnswerPoolActivity"
            android:parentActivityName=".options.PreferencesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".answerPool.AnswerListActivity"
            android:parentActivityName=".answerPool.AnswerPoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".answerPool.DeleteAnswerPoolDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialog_light" />
        <activity
            android:name=".answerPool.DeleteAnswerDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialogTheme" />
        <activity android:name=".download.DownloadQuestionsActivity"
            android:parentActivityName=".options.PreferencesActivity"/>
    </application>

</manifest>